[
  {rabbit, [
     {ssl_listeners, [<%= ssl_port %>]},
     {ssl_options, [{cacertfile,"/etc/ssl/cacert.pem"},
                    {certfile,"/etc/rabbitmq/rabbitmq.pem"},
                    {keyfile,"/etc/rabbitmq/rabbitmq.key"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true}]}
   ]}
].
